configuration {
    font: "FiraCode Retina 10";
    line-margin: 10;

    display-ssh:    "";
    display-run:    "";
    display-drun:   "";
    display-window: "";
    display-combi:  "";
    display-clipboard: "";
    show-icons:     true;
}

@theme "nord"

listview {
    lines: 10;
    columns: 2;
}

window {
    width: 50%;
}
